<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Travel Innovation Sandbox</display-name>
		
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>		
		
	<servlet>
		<servlet-name>sandbox</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.amadeus.inr.sandbox.SandboxWebApp</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>sandbox</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>resteasy.providers</param-name><!--  Order is important here -->
		<param-value>com.amadeus.inr.sandbox.v2.conf.JSONProvider, com.amadeus.inr.sandbox.v2.conf.ValidationExceptionMapper, com.amadeus.inr.sandbox.v2.conf.GeneralExceptionMapper</param-value>
	</context-param>
	
</web-app>